# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
.env
.env.*
!.env.example

# Outputs
output/
*.parquet
*.csv

# Jupyter
.ipynb_checkpoints/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/